#resetRoot {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#resetBox {
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    width: 30%;
    height: 50%;
    
    
}

.resetFormBox {
    height: 25%;
}

#resetBox hr {
    display: inline-block;
    text-align: center;
    width: 75%;
}

#head {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

#reset {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}